@font-face {
  font-family: "American Typewriter";
  src: url("//db.onlinewebfonts.com/t/bf35ddaa105b41dd66cb2eb93424c588.eot");
  src: url("//db.onlinewebfonts.com/t/bf35ddaa105b41dd66cb2eb93424c588.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/bf35ddaa105b41dd66cb2eb93424c588.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/bf35ddaa105b41dd66cb2eb93424c588.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/bf35ddaa105b41dd66cb2eb93424c588.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/bf35ddaa105b41dd66cb2eb93424c588.svg#American Typewriter")
      format("svg");
}

body {
  background: url("https://img.freepik.com/free-vector/podium-round-stage-podium-paper-art-chinese-new-year-chinese-festivals-mid-autumn-festival-red-paper-cut-flower-asian-elements-with-craft-style-background_38689-1307.jpg?w=2000")
    no-repeat center center fixed;
  font-family: "American Typewriter";
}

div.row {
  display: flex;
  justify-content: center;
  font-size: 6rem;
  font-family: "American Typewriter";
  color: goldenrod;
}

.checker {
  font-size: 4rem;
  margin-left: 15rem;
  padding: 0.2rem;
  color: goldenrod;
  font-family: "American Typewriter";
}

.input-group-lg > .btn,
.input-group-lg > .form-control,
.input-group-lg > .form-select,
.input-group-lg > .input-group-text {
  padding: 0.5rem 1rem;
  font-size: 2rem;
  border-radius: 0.5rem;
}

.input-group.input-group-lg {
  margin: 1rem;
  color: goldenrod;
  font-family: "American Typewriter";
  font-size: 2rem;
}

.checker:checked {
  /* strikethrough done todo */
  text-decoration: "line-through";
}

.checker:hover {
  cursor: pointer;
}
